.venv/
__pycache__/
.ipynb_checkpoints/

*.tif
*.geojson
*.json
*.xml
*.csv
*.zip
*.nc
*.kmz
*.bin
*.html
*.bufr4


*.aux.xml
*.log
.DS_Store
.idea/

tests/
tc_data/
tc_mario/
tc_bualoi/
tc_gabrielle/
tc_kiko/
tc_latest/
test_experiment.ipynb
test_experiment.py
working_data_extraction_experiment.ipynb
BUFR-understanding.ipynb
ecmwf_tc_forecasts_example_TEST.ipynb
ecmwf_tc_data_explorer.py
tracks_22S_HEROLD_2020031912.eps.bufr4