.venv/
__pycache__/
.ipynb_checkpoints/

*.tif
*.geojson
*.json
*.xml
*.csv
*.zip
*.nc
*.kmz
*.bin


*.aux.xml
*.log
.DS_Store
.idea/

tests/
tc_data/
test_experiment.ipynb
test_experiment.py
working_data_extraction_experiment.ipynb
ecmwf_tc_data_exploration.py